body.dark-mode {
  width: 250px;
  height: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .section {
  display: flex;
  flex-direction: row; /* 가로로 버튼 배열 */
  flex-wrap: wrap; /* 버튼들이 가로 공간을 다 쓰면 다음 줄로 넘어가도록 */
  gap: 10px; /* 버튼 간격 조정 */
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 15px 10px 10px;
}

.dark-mode .section-title {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #1f1f1f;
  padding: 0 5px;
  font-weight: bold;
  font-size: 16px;
}

.dark-mode .feature-button {
  flex: 0 1 auto; /* 버튼이 가로로 늘어나도록 */
  padding: 5px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dark-mode .feature-button:hover {
  background-color: #444;
}
